= simple_form_for SurveyTemplateType.new, url: '', html: {"ng-submit" => "saveTemplate()"} do |f|
  = f.input :title, input_html: {"ng-model" => "template.title"}
  .row
    .col-xs-12= f.input :attraction_question, as: :text, input_html: {"ng-model" => "template.attractionQuestion"}
    .col-xs-12= f.input :referention_question, as: :text, input_html: {"ng-model" => "template.referentionQuestion"}
    .col-xs-12= f.input :personal_qualities_question, as: :text, input_html: {"ng-model" => "template.personalQualitiesQuestion"}
    .form-group.string.optional.survey_respondents_name.col-xs-12
      %tags-input(ng-model="template.personalQualities" add-on-comma="false" replace-spaces-with-dashes="false" placeholder="#{t('.tags')}")
        %auto-complete(source="query($query)")
  .btn-group
    = f.submit class: "btn btn-primary"
