= simple_form_for :survey, url: '', html: {"ng-submit" => "saveSurvey()"} do |f|
  = f.input :title, input_html: {"ng-model" => "survey.title"}
  .respondents(ng-repeat="respondent in survey.respondents")
    = f.simple_fields_for :respondents, Respondent.new do |ff|
      .respondent.row(ng-hide="respondent._destroy")
        = ff.hidden_field :id, {"ng-model" => "respondent.id"}
        = ff.input :name, wrapper_html: {class: 'col-xs-7'}, input_html: {"ng-model" => "respondent.name"}
        = ff.input :email, wrapper_html: {class: 'col-xs-4'}, input_html: {"ng-model" => "respondent.email"}
        %button.btn.btn-default.col-xs-1(ng-click="remove_respondent(respondent)" type="button") X
  %button.btn.btn-default(ng-click="add_respondent()" type="button") Add
  = f.submit
