= simple_form_for :survey, url: '', html: {"ng-submit" => "saveSurvey()"} do |f|
  = f.input :title, input_html: {"ng-model" => "survey.title"}
  .respondents(ng-repeat="respondent in survey.respondents")
    = f.simple_fields_for :respondents, Respondent.new do |ff|
      .respondent.row(ng-hide="respondent._destroy")
        = ff.hidden_field :id, {"ng-model" => "respondent.id"}
        = ff.input :name, wrapper_html: {class: 'col-xs-7'}, input_html: {"ng-model" => "respondent.name"}
        = ff.input :email, wrapper_html: {class: 'col-xs-4'}, input_html: {"ng-model" => "respondent.email"}
        .col-xs-1
          .form-group
            %label &nbsp;
            %div
              %a.btn.btn-danger(ng-click="remove_respondent(respondent)" type="button")
                %span.glyphicon.glyphicon-trash
  .row
    .form-group.string.optional.survey_respondents_name.col-xs-12
      = content_tag('tags-input', nil, "ng-model" => "survey.personalQualities", "add-on-comma" => "false", "placeholder" => t('.tags'))
  .btn-group
    %a.btn.btn-default(ng-click="add_respondent()")
      %span.glyphicon.glyphicon-user
      +
    = f.submit class: "btn btn-primary"
