= simple_form_for NewSurveyType.new, url: '', html: {"ng-submit" => "saveSurvey()"} do |f|
  = f.input :title, input_html: {"ng-model" => "survey.title"}
  .row
    .col-xs-12= f.input :attraction_question, as: :text, input_html: {"ng-model" => "survey.attractionQuestion"}
    .col-xs-12= f.input :referention_question, as: :text, input_html: {"ng-model" => "survey.referentionQuestion"}
    .col-xs-12= f.input :personal_qualities_question, as: :text, input_html: {"ng-model" => "survey.personalQualitiesQuestion"}
    .form-group.string.optional.survey_respondents_name.col-xs-12
      %tags-input(ng-model="survey.personalQualities" add-on-comma="false" replace-spaces-with-dashes="false" placeholder="#{t('.tags')}")
        %auto-complete(source="query($query)")
  .respondents(ng-repeat="respondent in survey.respondents")
    = f.simple_fields_for :respondents, Respondent.new do |ff|
      .respondent.row(ng-hide="respondent._destroy")
        = ff.hidden_field :id, {"ng-model" => "respondent.id"}
        = ff.input :name, wrapper_html: {class: 'col-xs-7'}, input_html: {"ng-model" => "respondent.name"}
        = ff.input :email, wrapper_html: {class: 'col-xs-4'}, input_html: {"ng-model" => "respondent.email"}
        .col-xs-1
          .form-group
            %label &nbsp;
            %div
              %a.btn.btn-danger(ng-click="remove_respondent(respondent)" type="button")
                %span.glyphicon.glyphicon-trash
  .btn-group
    %a.btn.btn-default(ng-click="add_respondent()")
      %span.glyphicon.glyphicon-user
      +
    = f.submit class: "btn btn-primary"
