%table.table.table-striped
  %thead
    %th
      %a.btn.btn-default(ui-sref="surveys.new")
        %span.glyphicon.glyphicon-plus
    %th= Survey.human_attribute_name(:title)
    %th= Survey.human_attribute_name(:updated_at)
    %th= Survey.human_attribute_name(:created_at)
    %th.actions
  %tbody
    %tr(ng-repeat="survey in surveys" ng-class="{finished:'success', started:'warning'}[survey.state]")
      %td {{ $index + 1 }}
      %td
        %a(ui-sref="surveys.show({id:survey.id})") {{ survey.title }}
        = surround '(', ')' do
          {{ survey.interviews.completed }} #{t('.of')} {{ survey.interviews.all }}
      %td {{ survey.updatedAt }}
      %td {{ survey.createdAt }}
      %td
        .btn-group
          %a.btn.btn-default(ui-sref="surveys.edit({id:survey.id})" ng-show="survey.state == 'initial'")
            %span.glyphicon.glyphicon-pencil
          %button.btn.btn-default(ng-click="survey.start()" ng-show="survey.state == 'initial'")
            %span.glyphicon.glyphicon-play-circle
          %button.btn.btn-danger(ng-click="survey.finish()" ng-show="survey.state == 'started'")
            %span.glyphicon.glyphicon-off
          %button.btn.btn-danger(ng-click="survey.resume()" ng-show="survey.state == 'finished'")
            %span.glyphicon.glyphicon-repeat
